@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/oswald-700-latin.woff2') format('woff2');
}

@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/quattrocento-sans-400-latin.woff2') format('woff2');
}

@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/quattrocento-sans-700-latin.woff2') format('woff2');
}